// - - - - - - - - - - - - - - - - - - -
// - - logo module
// styles for the logo module

//.logo {
//  color: #fff;
//  letter-spacing: -1px;
//  font-size: 3.5em;
//  text-align: center;
//  text-transform: uppercase;
//  font-family: 'Righteous', Helvetica,Arial,sans-serif;
//}

.logo {
  color: #fff;
  text-transform: uppercase;

  font: {
    family: 'Nunito', sans-serif;
    transform: uppercase;
    size: 2.7em;
    weight: 900;
  }
}
